@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Boogaloo&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,700;1,800;1,900&family=Patrick+Hand&family=Sanchez:ital@0;1&family=Special+Elite&family=Titan+One&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Sanchez', serif;
font-family: 'Special Elite', cursive;
font-family: 'Titan One', cursive; */

.AmaticSC {
    font-family: 'Amatic SC', cursive;
}

.Boogaloo {
    font-family: 'Boogaloo', cursive;
}

.TitanOne {
    font-family: 'Titan One', cursive;
}

.MontserratAlternates {
    font-family: 'Montserrat Alternates', sans-serif;
}

.PatrickHand {
    font-family: 'Patrick Hand', cursive;
}

.Sanchez {
    font-family: 'Sanchez', serif;
}

.SpecialElite {
    font-family: 'Special Elite', cursive;
}

.louise-and-pepsi {
    width: 250px;
    position: absolute;
    right: 0;
    top: 230px;
}


.louise-and-pepsi-glitched {
    width: 300px;
    position: absolute;
    right: 0;
    top: 220px;

}


.eyes {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0px;
}

@media screen and (max-width: 1520px) {
    .louise-and-pepsi {
        width: 200px;
        position: absolute;
        right: 0;
        top: 280px;
    }

    .louise-and-pepsi-glitched {
        width: 230px;
        position: absolute;
        right: 0;
        top: 270px;

    }

    .eyes {
        width: 250px;
        position: absolute;
        left: 0;
        top: 0px;
    }
}

@media screen and (max-width: 1366px) {
    .louise-and-pepsi {
        display: none;
    }

    .louise-and-pepsi-glitched {
        display: none;
    }

    .eyes {
        display: none;
    }

}

@media screen and (max-width: 1024px) {


}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 411px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {

}

